.container {
  background: #f3fdfe;
}

.boxstyle {
  background: white;
  border-radius: 8px;
  padding-left: 40px;
  padding-right: 40px;
}

.centertext {
  text-align: center;
}

.green {
  color: #31c28c;
}

.headtext {
  border-bottom: #31c28c 2px solid;
  font-size: 1.5rem;
  padding-bottom: 7px;
}

.navbutton {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  border-radius: 5px;
  padding-left: 20px;
  border: none;
  text-decoration: none;
}
