body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  min-height: 100%;
}

body::-webkit-scrollbar {
  width: 0.1rem;
}

body::-webkit-scrollbar-track {
  background: #13031e;
}

body::-webkit-scrollbar-thumb {
  background: #13031e;
}
